/* General Reset */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  color: #333;
}

nav{
  background-color: #4caf50;
  height: 3.5rem;
}
nav a{
  text-decoration: none;
  color: #FFFFFF;
  position: absolute;
  left: 10px;
  top: 10px;
  font-size:1.2rem;
}

.container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

header {
  text-align: center;
  margin-bottom: 20px;
}

header h1 {
  color: #4caf50;
  margin-bottom: 5px;
}

header p {
  color: #666;
}

.event-description {
  margin: 20px 0;
}

.event-description h2 {
  color: #4caf50;
  border-bottom: 2px solid #4caf50;
  display: inline-block;
  margin-bottom: 10px;
}

.event-description p {
  color: #555;
  line-height: 1.6;
}

.media-gallery {
  margin-top: 30px;
}

.media-gallery h2 {
  color: #4caf50;
  border-bottom: 2px solid #4caf50;
  display: inline-block;
  margin-bottom: 15px;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
}

.gallery-item {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  
}

.gallery-item img,
.gallery-item video {
  width: 100%;
  height: auto;
  display: block;
  
}

.gallery-item:hover {
  margin-top: 20px;
  transform: scale(1.02);
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 9);
}

@media (min-width: 770px) {
  
.gallery-grid {
  display: block;
  padding: 5rem;
}

.gallery-item {
  display: block;
  margin: 2rem;
  border-radius: 8px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: auto;
  
}

.gallery-item img{
 width: 100%;
 height: 40rem;
 display: block;
}

.gallery-item video {
  width: 100%;
  height: 20rem;
  display: block;
  
  
}

.gallery-item:hover {
  margin-top: 20px;
  transform: scale(1.02);
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 9);
}
  
}
