<!DOCTYPE html>
<html lang="en">

<head>

    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}NATIONAL P.G. COLLEGE{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/basestyles.css' %}">

    {% block link %}{% endblock link %}
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Playfair+Display:wght@700&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/1ea33ebadd.js" crossorigin="anonymous"></script>

</head>

<body>
    <div class="container">
        <div class="sidebar">
            <div class="options">
                <!-- Link to user profile page -->
                <a href="{% url 'login' %}"><i class="fa-regular fa-user"></i></a>

                <!-- Link to WhatsApp page -->
                <a href="{% url 'whatsapp_home' %}"><i class="fa-brands fa-square-whatsapp"></i></a>

                <!-- Link to robot page -->
                <a href="#"><i class="fa-solid fa-robot"></i></a>

                <!-- Link to logout page -->
                <a href="{% url 'logout' %}"><i class="fa-solid fa-door-open"></i></a>
            </div>
        </div>
        <div class="main-content">
            <div class="top-header">
                <img class="topimg"  src="{% static 'image/schoollogo.png' %}" alt="">
            </div>

            {% block content %}{% endblock %}

        </div>
    </div>

</body>

</html>