<!DOCTYPE html>
<html lang="en">

<head>
    
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}NATIONAL P.G. COLLEGE{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/basestyles.css' %}">
    {% block link %}{% endblock link %}
    {% comment %} <style>
      
        .card {
            border: none;
            border-radius: 12px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }
        .nav-link {
            font-weight: 500;
        }
    </style> {% endcomment %}
    <script src="https://kit.fontawesome.com/1ea33ebadd.js" crossorigin="anonymous"></script>
    
</head>

<body>
    <div class="containere">
        <div class="sidebar">
            <img src="https://via.placeholder.com/50" alt="User Picture">
            <div class="options">
                <!-- Link to user profile page -->
                <a href="{% url 'login' %}"><i class="fa-regular fa-user"></i></a>

                <!-- Link to WhatsApp page -->
                <a href="{% url 'whatsapp_home' %}"><i class="fa-brands fa-square-whatsapp"></i></a>

                <!-- Link to robot page -->
                <a href="#"><i class="fa-solid fa-robot"></i></a>
                
                <!-- Link to logout page -->
                <a href="{% url 'logout' %}"><i class="fa-solid fa-door-open"></i></a>
            </div>
        </div>
        <div class="main-content">
            <div class="top-header">
                <img src="{% static 'image/schoollogo.png' %}" alt="">
            </div>
            {% block content %}{% endblock %}
            <a href="{% url 'logout' %}"><i class="fa-solid fa-door-open"></i></a>
        </div>
    </div>
    
</body>

</html>