{% extends 'base.html' %}

{% block body %}
<nav>
  <a href="/event_management/event_details.html"><i class="fa-solid fa-arrow-left"></i></a>
</nav>
<div class="container">
  <div class="header">
    <h1>Event Registration</h1>
    <p>Register for your favorite events!</p>
  </div>

  <div class="registration-form">
    <h2>Register Now</h2>
    <form id="registration-form">
      <label for="name">Full Name:</label>
      <input type="text" id="name" placeholder="Enter your full name" required>

      <label for="email">Email Address:</label>
      <input type="email" id="email" placeholder="Enter your email address" required>

      <label for="audience-type">Audience Type:</label>
      <select id="audience-type" required>
        <option value="student">Participant</option>
        <option value="faculty">Audience</option>
        <option value="guest">Volunteer</option>
      </select>
      <button type="submit">Register</button>
    </form>
  </div>
</div>
{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'event_registration.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}