{% extends 'base.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Event Listing</title>
  <link rel="stylesheet" href="{% static 'events_list.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
  <header>
    <a href="{% url 'home' %}"><i class="fa-solid fa-arrow-left"></i></a>
    <h1>Event Listing</h1>
  </header>
  <div class="container">
    <main>
      <table id="eventTable">
        <thead>
          <tr>
            <th>Event Name</th>
            <th>Date</th>
            <th>Duration</th>
            <th>Organizer</th>
            <th>Location</th>
            <th>Details</th>
          </tr>
        </thead>
        <tbody>
          <!-- Dynamic rows will be inserted here -->
          {% for event in events %}
          <tr>
            <td>{{ event.name }}</td>
            <td>{{ event.date }}</td>
            <td>{{ event.duration }}</td>
            <td>{{ event.organizer }}</td>
            <td>{{ event.location }}</td>
            <td><a href="{% url 'event_details' event.id %}" class="details-link">View Details</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </main>
  </div>
  <script src="{% static 'events_list.js' %}"></script>
</body>

</html>
{% endblock %}