{% extends 'base.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Event Details</title>
  <link rel="stylesheet" href="{% static 'event_details.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
  <header>
    <a href="{% url 'events_list' %}"><i class="fa-solid fa-arrow-left"></i></a>
    <h1>Event Details</h1>
  </header>
  <div class="container">
    <main>
      <div id="eventDetails">
        <!-- Event details will load dynamically -->
      </div>
      <a href="{% url 'event_registration' %}" class="button">Register</a>
    </main>
  </div>
  <script src="{% static 'event_details.js' %}"></script>
</body>

</html>
{% endblock %}