{% extends 'base.html' %}

{% block content %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'classroom/style.css' %}">
  <title>Semester</title>
</head>

<body>
  <header>
    <h1>Semester-1</h1>
  </header>
  <section class="classroom-section">
    <div class="student-list">
      {% for student in students %}
      <a class="student" href="{% url 'classroom:student_details' student.id %}">
          <span>{{ student.name }}</span>
          <span>{{ student.id }}</span>
          <span>{{ student.is_batch_holder|yesno:"Yes,No" }}</span>
      </a>
      {% endfor %}
    </div>
  </section>

</body>

</html>
{% endblock %}